<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--パスの設定-->
    <add key="txtPath" value="C:\temp\ECS_Monitor\ECS_TXT\PROCESS" />
    <add key="cpuPath" value="C:\temp\ECS_Monitor\ECS_TXT\CPU" />
    <add key="drivePath" value="C:\temp\ECS_Monitor\ECS_TXT\DRIVE" />
    <add key="processExcelPath" value="C:\temp\ECS_Monitor\ECS_EXCEL\PROCESS" />
    <add key="logPath" value="C:\temp\ECS_Monitor\ECS_LOG" />
    <add key="excelPath" value="C:\temp\ECS_Monitor\ECS_EXCEL" />
    <add key="cpuExcelPath" value="C:\temp\ECS_Monitor\ECS_EXCEL\CPU" />
    <add key="driveExcelPath" value="C:\temp\ECS_Monitor\ECS_EXCEL\DRIVE" />
    <!--閾値の設定-->
    <add key="gbValue" value="1.00" /> <!--GB値-->
    <add key="Days" value="7" /> <!--グラフ表示期間-->
    <!--メール送信者-->
    <add key="SendAddress" value="1.00" />
    <add key="SendAddress" value="7" />
    <!--アプリ数-->
    <!--<add key="appCount" value="933"/>-->
    <add key="Server_NF-ECS-01" value="23" />
    <add key="Server_NF-ECS-02" value="18" />
    <add key="Server_NF-ECS-03" value="28" />
    <add key="Server_NF-ECS-04" value="23" />
    <add key="Server_NF-ECS-05" value="29" />
    <add key="Server_NF-ECS-06" value="33" />
    <add key="Server_NF-ECS-07" value="26" />
    <add key="Server_NF-ECS-08" value="13" />
    <add key="Server_NF-ECS-ANA1" value="27" />
    <add key="Server_NF-ECS-ANA2" value="9" />
    <add key="Server_NF-ECS-ANA3" value="11" />
    <add key="Server_NGK-ECS-01" value="21" />
    <add key="Server_NGK-ECS-02" value="23" />
    <add key="Server_NGK-ECS-03" value="22" />
    <add key="Server_NGK-ECS-04" value="13" />
    <add key="Server_NGK-ECS-05" value="28" />
    <add key="Server_NGK-ECS-06" value="15" />
    <add key="Server_NGK-ECS-07" value="20" />
    <!--<add key="Server_NGK-ECS-08" value="10" />-->
    <add key="Server_NGK-ECS-09" value="20" />
    <add key="Server_NGK-ECS-10" value="30" />
    <add key="Server_NGK-ECS-11" value="11" />
    <add key="Server_NGK-ECS-12" value="27" />
    <add key="Server_NGK-ECS-15" value="13" />
    <add key="Server_NGK-ECS-16" value="13" />
    <add key="Server_NGK-ECS-17" value="21" />
    <add key="Server_NGK-ECS-19" value="21" />
    <add key="Server_NGK-ECS-20" value="18" />
    <add key="Server_NGK-ECS-21" value="22" />
    <add key="Server_NGK-ECS-22" value="9" />
    <add key="Server_NGK-ECS-23" value="25" />
    <add key="Server_NGK-ECS-24" value="24" />
    <add key="Server_NGK-ECS-25" value="22" />
    <add key="Server_NGK-ECS-27" value="19" />
    <add key="Server_NGK-ECS-28" value="27" />
    <add key="Server_NGK-ECS-29" value="21" />
    <add key="Server_NGK-ECS-30" value="29" />
    <add key="Server_NGK-ECS-31" value="14" />
    <add key="Server_NGK-ECS-32" value="15" />
    <add key="Server_NGK-ECS-ANA1" value="9" />
    <add key="Server_NGK-ECS-ANA2" value="15" />
    <add key="Server_NGK-ECS-ANA3" value="23" />
    <add key="Server_NGK-ECS-ANA4" value="23" />
    <add key="Server_NGK-ECS-ANA5" value="17" />
    <add key="Server_NGK-ECS-ANA6" value="12" />
    <add key="Server_NGK-ECS-ANA7" value="1" />
    <add key="Server_NGK-ECS-ANA8" value="15" />
    <add key="Server_NK-ECS-08" value="20" />
    <add key="Server_NK-ECS-14" value="8" />
    <add key="Server_NK-ECS-21" value="4" />
    <add key="Server_NK-ECS-22" value="11" />
    <add key="Server_NK-ECS-33" value="6" />
    <add key="Server_NK-ECS-ANA1" value="2" />

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>